@keyframes container {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
body {
  font-family: "Roboto";
  margin: 0px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: -1000;
  width: 100%;
  height: 100%;
  background-color: white;
  animation: loader-opacity 3s;
  opacity: 0;
}
.loader::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 10px solid #dddddd;
  border-top-color: #9356dc;
  border-radius: 50%;
  animation: loading 4s linear forwards;
}
@keyframes loader-opacity {
  0% {
    opacity: 1;
    z-index: 1200;
  }
  25% {
    opacity: 1;
    z-index: 1200;
  }
  50% {
    opacity: 1;
    z-index: 1200;
  }
  75% {
    opacity: 1;
    z-index: 1200;
  }
  100% {
    opacity: 0;
    z-index: 1200;
  }
}
@keyframes loading {
  to {
    transform: rotate(3turn);
  }
}

.lien {
  width: inherit;
  text-decoration: none;
  color: unset;
}

header {
  display: flex;
  justify-content: center;
  padding: 15px 0px;
}
header .logo {
  width: 50%;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 20px;
  background-color: #f1f1f1;
  box-shadow: inset 0px 1px 3px #c8c4c4;
}
.localisation .fa-location-dot {
  padding-right: 20px;
}

.description {
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  padding-bottom: 40px;
}
.description__contenu {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
.description__contenu--title {
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0px;
}
.description__contenu--texte-normal {
  margin-bottom: 30px;
}
.description__contenu--btn {
  padding: 15px;
  border-radius: 40px;
  color: white;
  font-weight: bold;
  border: none;
  background: linear-gradient(to top left, #9356dc, #ff79da);
  max-width: 200px;
  align-self: center;
  width: 200px;
  margin: 0px 0px;
  box-shadow: 1px 3px 2px #eeebeb;
}
.description__contenu--btn:hover {
  cursor: pointer;
  filter: brightness(1.1);
  box-shadow: 3px 5px 10px #a29e9e;
  transform: translate(1px);
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.fonctionnement--title {
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0px;
}
.fonctionnement__btn {
  display: flex;
  background-color: #f8f8f8;
  padding: 20px 20px 20px 0px;
  border-radius: 25px;
  align-items: center;
  margin: 10px 0px;
  box-shadow: 3px 3px 2px #f1f1f1;
}
.fonctionnement__btn:hover {
  background-color: rgba(147, 86, 220, 0.1);
  cursor: pointer;
}
.fonctionnement__btn:hover .fa-solid {
  color: #9356dc;
}
.fonctionnement__btn--number {
  background-color: #9356dc;
  padding: 6px 8px;
  border-radius: 100%;
  position: relative;
  right: 10px;
  font-size: 12px;
  color: white;
}
.fonctionnement__btn .fa-solid {
  margin-right: 20px;
  margin-left: 15px;
}

.restaurant {
  background-color: #f8f8f8;
  padding: 40px 0px;
}
.restaurant--title {
  font-size: 25px;
  font-weight: bold;
  margin: 0px 20px;
}
.restaurant__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px 0px 20px;
}

.fiche {
  width: 100%;
  height: 250px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 2px #f1f1f1;
}
.fiche__header {
  position: relative;
  width: inherit;
}
.fiche__header__texte {
  padding: 5px 15px;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #a8e6d6;
  border-radius: 2px;
  color: #2b987c;
  font-weight: 600;
}
.fiche__image {
  width: inherit;
  height: 175px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.fiche__description {
  display: flex;
  justify-content: space-between;
  line-height: 25px;
}
.fiche__description--texte {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.fiche__description .heart {
  margin: 15px;
  width: 25px;
}
.fiche__description .heart path {
  fill: white;
  stroke-width: 40;
  stroke: black;
  stroke-dasharray: 1515;
}
.fiche__description .heart path:hover {
  animation: animate-heart 0.8s ease-in-out forwards;
}

@keyframes animate-heart {
  0% {
    fill: url(#grad2);
    opacity: 0;
    stroke-dashoffset: 0;
  }
  25% {
    fill: url(#grad2);
    opacity: 0.25;
  }
  50% {
    fill: url(#grad2);
    opacity: 0.5;
  }
  75% {
    fill: url(#grad2);
    opacity: 0.75;
  }
  100% {
    fill: url(#grad2);
    opacity: 1;
    stroke-dashoffset: 1510;
  }
}
.footer {
  background-color: #4d4c4c;
}
.footer__container {
  margin: 0px 20px;
  color: white;
  padding: 10px 0px;
}
.footer__container .title-logo {
  font-family: "Shrikhand";
  font-size: 17px;
}
.footer__container--utils .fa-utensils,
.footer__container--utils .fa-handshake-angle {
  margin-right: 15px;
}

/*# sourceMappingURL=accueil.css.map */
