@import "./utils/_variables";
@import "./utils/_mixin";
@import "./layout/footer.scss";
@import "./layout/Header-menu.scss";
body {
  font-family: "Roboto";
  margin: 0px;
}
// Link of all <a href>
.lien {
  text-decoration: none;
  color: unset;
}
// Style of header logo + arrow

// Style of image-background
.image-background {
  width: 100%;
  height: 200px;

  & .image {
    height: 250px;
    width: inherit;
    position: relative;
    z-index: 1;
    object-fit: cover;
  }
}
// Style of main section menu
.menu {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
  z-index: 2;
  padding-bottom: 40px;
  &__container {
    margin: 30px 40px 0px 10px;
    display: flex;
    justify-content: space-between;
    &--title {
      font-size: 30px;
      font-weight: bold;
    }
    & .fa-heart {
      display: flex;
      align-items: center;
      font-size: 25px;
    }
  }
  // Style of card starters - main courses - desserts
  & .card {
    display: flex;
    margin: 10px 10px;

    // animation card when loading page

    &:nth-child(1n + 0) .card__container {
      @include animation-card-loading(1s);
    }
    &__title {
     margin-right: 50px;
padding: 5px 0px;
width: 2%;
border-bottom: 3px solid #97dac1;
font-size: 20px;
font-weight: normal;
max-height: 25px;
    }
    &__section{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      margin-left: 50px;
    }
    &__container {
      display: flex;
      justify-content: space-between;
      background-color: white;
      border-radius: 15px;
      margin-bottom: 10px;
      @include box-shadow($gris_1);
      overflow: hidden;
      width: 425px;
      height: 65px;

      &:hover .card__container__texte--dishes{
            width: 70%;
          }

      &--animation {
        width: 20px;
        transition: transform 0.5s;
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
        transform: scale(0, 1);
        transform-origin: right;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        & .fa-circle-check {
          transform: scaleY(3) translateX(14px);
          font-size: 7px;
          color: white;
          transition: all 0.5s;
        }
      }

      // Style of texte inside card

      &__texte {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px 0px 10px 10px;

        &--dishes {
          display: flex;
          flex-direction: column;
          line-height: 20px;
          width: 90%;
          justify-content: space-between;
          overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
          
          & span:nth-child(1) {
            font-weight: bold;
            font-size: 18px;
                    overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
          }
          & span:nth-child(2) {
            font-size: 15px;
                    overflow: hidden;
    text-overflow: ellipsis;
white-space: nowrap;
          }
        }
        &--price {
          align-self: flex-end;
          transition: transform 0.5s;
        }
      }
    }

    // animation right div green
    .card__container:nth-child(1n + 0):hover .card__container--animation {
      @include animation-card;
      
    }

    // animation price

    .card__container:nth-child(1n + 0):hover .card__container__texte--price {
      @include animation-card-price;
    }
    //animation green div check
    .card__container:hover .fa-circle-check {
      @include animation-card-check;
    }
  }
}

// style + animation of button order

.btn-order {
  @include btn( 30px);
  width: 200px;
}

//Style of the footer



@media (max-width: 998px){


// Style of main section menu
.menu {
   & .card{
    &__section{
      margin-left: 0px;
    }
  }
  // Style of card starters - main courses - desserts
  & .card {
    
    flex-direction: column;

    &__container {
      width: 100%;
      }
    }
  }
}

@media (max-width: 776px){

// Style of header logo + arrow
header {
 

  & .fa-arrow-left {
    font-size: 20px;
    
  }
}

.menu {
  & .card{
    &__section{
      margin-left: 0px;
    }
  }
  &__container {
   
    &--title {
      font-size: 25px;
    }
  }

  & .card {
    flex-direction: column;
    
    &__title {
      margin: 10px 0px;
    
      width: 8%;
      
      font-size: 15px;
      
    }
    &__container {
    width: 100%;
    height: auto;
    }

  }
}

}
